@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.carCard {
  display: flex;
  flex-wrap: wrap;
}
.cardItem {
  height: 500px;
  background-color: white;
  border: 1px solid black;
  margin: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 15px;
  align-items: center;
  gap: 25px;
}
.cardItem:hover {
  background-color: rgb(228, 228, 228);
  transition-duration: 0.6s;
}
.cardItem h1 {
  font-size: 30px;
  letter-spacing: 7px;
  color: #207f99;
  font-family: "Montserrat", sans-serif;
}
.cardItem p {
  font-size: 18px;
  color: #207f99;
  font-family: "Montserrat", sans-serif;
}
.cardItem button {
  width: 160px;
  height: 70px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
}
.cardItem button:hover {
  transition-duration: 0.9s;
  background-color: azure;
}
.cardItem img {
  width: 400px;
  height: 250px;
  object-fit: contain;
}
@media only screen and (max-width: 600px) {
  .cardItem {
    gap: 10;
  }
}
