.carList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width:600px){
.carList{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
}