@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Sedan+SC&display=swap");

.carInfo {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.infoItem {
  width: 450px;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Sedan SC", serif;
}
.infoText {
  gap: 10px;
}

.infoItem img {
  width: 150px;
}

@media only screen and (max-width: 600px) {
  .carInfo {
    flex-direction: column;
    margin: 15px;
  }
  .infoItem{
    font-size: 15px;
    width: 90%;
  }
  .infoItem img{
    width: 90px;
  }
}
